@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: hsl(212, 45%, 89%);
}
main {
    display: inline-block;
  width: 212px;
  margin: 20px 50vw;
  background-color: white;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 10px;
  box-shadow: 0px 0px 6px 0px hsl(212deg 6.29% 67.79%);
}
.qr {
  display: inline-block;
  width: 12em;
  border-radius: 15px;
}
.title {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  padding: 10px;
  color: hsl(218, 44%, 22%);
}
.description {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  padding: 5px;
  color: hsl(216, 15%, 48%);
}
.attribution {
  color: hsl(216, 15%, 48%);
  font-family: "Outfit", sans-serif;
  font-size: 10px;
  margin-top: 10px;
  text-align: center;
}
a{
    text-decoration: none;
}